{% extends 'users_app/parent.html' %}
{% block content_block %}

<div class="jumbotron">
  <h1>Please Login!</h1>
  <form action="{% url 'login:user_login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Name here">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Pass">

    <input  type="submit" formmethod="POST" name="" value="login">

  </form>

</div>
{% endblock %}
